<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">
                        <span class="text-warning bigger-110 orange">
                            <i class="ace-icon fa fa-exclamation-triangle"></i>
                            登陆状态失效啦！
                        </span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-block alert-success">

                    <p>
                        <strong>
                            你的登陆状态已经失效，是否重新登陆？
                        </strong>

                    </p>

                    <p>
                        <button class="btn btn-sm btn-success" ng-click="goLogin();$hide()">重新登陆</button>
                        <button class="btn btn-sm" ng-click="$hide()">取消</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
