<div class="breadcrumbs">
    <!-- breadcrumbs goes here -->
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">首页</a>
        </li>
    </ul>
</div>

<div class="page-content" ng-controller="creditManagementBalanceController">
<!-- setting box goes here if needed -->

<div class="page-header">
    <h1>
        客户信用管理
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            信用额度
        </small>
    </h1>
</div>

<div class="row">
<div class="col-xs-12">
<!-- PAGE CONTENT BEGINS -->

    <!--Invoice Search Form BEGINS
    ===========================================-->

    <!--Invoice Search Form BEGINS
    ===========================================-->
    <credit-management-form options="searchForm.options"></credit-management-form>
    <!--Invoice Search Form ENDS
    ===========================================-->

    <!--Invoice Search Form ENDS
    ===========================================-->

<!-- PAGE CONTENT ENDS -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->

</div>
<!-- /.page-content -->