<div class="breadcrumbs">
    <!-- breadcrumbs goes here -->
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">首页</a>
        </li>

    </ul>
</div>

<div class="page-content" ng-controller="customerServiceConfirmEditController">
<!-- setting box goes here if needed -->

<div class="page-header">
    <h1>
        未审核单据管理
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            编辑订单
        </small>
    </h1>
</div>

<div class="row">
<div class="col-xs-12">
<!-- page content goes here -->

    <!--invoice detail-->
    <!--=======================================-->
    <invoice-form invoice="invoice" options="options"></invoice-form>
    <!--=======================================-->
    <!--/invoice detail-->


</div>
<!-- /.col -->
</div>
<!-- /.row -->

</div>
<!-- /.page-content -->