<ul class="wizard-steps">
    <li data-target="#step1"
        ng-class="{complete:(invoice.auditStatus>=40),active:(invoice.auditStatus<40)}">
        <span class="step">1</span>
        <span class="title">开单</span>
    </li>

    <li data-target="#step2"
        ng-class="{complete:(invoice.auditStatus>=60),active:( invoice.auditStatus>=40 && invoice.auditStatus<=50)}">
        <span class="step">2</span>
        <span class="title">仓库</span>
    </li>

    <li data-target="#step3"
        ng-class="{complete:(invoice.auditStatus>=90),active:( invoice.auditStatus>=70 && invoice.auditStatus<=90)}">
        <span class="step">3</span>
        <span class="title">打单</span>
    </li>

    <li data-target="#step4" ng-class="{complete:(invoice.auditStatus>=90)}">
        <span class="step">4</span>
        <span class="title">完成</span>
    </li>
</ul>
<hr>
<form class="form-horizontal" name="form" novalidate>
    <fieldset ng-disabled="success">

        <!--单号-->
        <div class="form-group" ng-if="!fields.invoiceNum.hidden">
            <label class="col-sm-3 control-label no-padding-right"> 单号 </label>

            <div class="col-sm-9">
                <div class="input-group col-xs-10 col-sm-5" ng-if="!fields.invoiceNum.editable">
                    <p class="form-control-static" ng-bind="invoice.invoiceNum"></p>
                </div>
                <div class="input-group col-xs-10 col-sm-5" ng-if="fields.invoiceNum.editable">
                    <p class="form-control-static green middle bolder" ng-bind="invoice.invoiceNum"></p>
                </div>
            </div>
        </div>

        <!--公司-->
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"> 公司 </label>

            <div class="col-sm-9">
                <div class="input-group col-xs-10 col-sm-5" ng-if="!fields.inc.editable">
                    <p class="form-control-static" ng-bind="invoice.inc.incName"></p>
                </div>
                <div class="input-group col-xs-10 col-sm-5" ng-if="fields.inc.editable">
                    <div inc-select inc="invoice.inc"></div>
                    <!--<select class="form-control" inc-select ng-model="invoice.inc" ng-options="inc.incName for inc in [invoice.inc] track by inc.incId" >-->
                        <!--<option ng-disabled="true"></option>-->
                    <!--</select>-->
                </div>
            </div>
        </div>

        <!--客户-->
        <div class="form-group"  ng-class="{'has-error': form.invoiceClient.$invalid}">
            <label class="col-sm-3 control-label no-padding-right"> 客户 </label>

            <div class="col-sm-9">
                <div class="input-group col-xs-10 col-sm-5"  ng-if="!fields.client.editable">
                    <p class="form-control-static" ng-bind="invoice.client.clientName"></p>
                </div>
                <div class="input-group col-xs-10 col-sm-5 pull-left" ng-if="fields.client.editable">
                    <div client-select client="invoice.client" required></div>
                    <input type="hidden" name="invoiceClient" ng-model="invoice.client" required>
                    <!--<select class="form-control" title="选择客户" name="invoiceClient" required-->
                            <!--client-select ng-model="invoice.client" ng-options="client.clientName for client in [invoice.client] track by client.clientId">-->
                    <!--</select>-->
                </div>

                <span class="help-inline col-xs-12 col-sm-7" ng-if="form.invoiceClient.$invalid">
                    <span class="middle red" ng-if="form.invoiceClient.$error.required">必填！</span>
                </span>

            </div>
        </div>

        <!--单据类型-->
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"> 单据类型 </label>

            <div class="col-sm-9">
                <div class="input-group col-xs-10 col-sm-5"  ng-if="!fields.invoiceType.editable">
                    <p class="form-control-static" ng-bind="invoice.invoiceType.name"></p>
                </div>
                <div class="input-group col-xs-10 col-sm-5"  ng-if="fields.invoiceType.editable">
                    <select class="form-control" name="invoiceType" required ng-model="invoice.invoiceType" ng-options="invoiceType.name for invoiceType in invoiceTypes track by invoiceType.invoiceTypeId">
                    </select>
                </div>

                <!--<span class="help-inline col-xs-12 col-sm-7" ng-if="form.invoiceType.$invalid">-->
                    <!--<span class="middle red" ng-if="form.invoiceType.$error.required">必填！</span>-->
                <!--</span>-->
            </div>
        </div>

        <!--单据日期-->
        <div class="form-group"  ng-class="{'has-error': form.invoiceReceivedDate.$invalid}">
            <label class="col-sm-3 control-label no-padding-right"> 单据日期 </label>

            <div class="col-sm-9">
                <div class="input-group col-xs-10 col-sm-5" ng-if="!fields.receivedDate.editable">
                    <p class="form-control-static" ng-bind="invoice.receivedDate | date: 'yyyy-MM-dd'"></p>
                </div>
                <div class="input-group col-xs-10 col-sm-5 pull-left" ng-if="fields.receivedDate.editable">
                    <!--<datepicker ng-model="invoice.receivedDate" name="invoiceReceivedDate" required language="cn" date-format="YYYY-MM-DD"></datepicker>-->
                    <input type="text" class="form-control" ng-model="invoice.receivedDate" name="invoiceReceivedDate" bs-datepicker   data-date-format="yyyy-MM-dd" required>
                </div>

                <span class="help-inline col-xs-12 col-sm-7" ng-if="form.invoiceReceivedDate.$invalid">
                    <span class="middle red" ng-if="form.invoiceReceivedDate.$error.required">必填！</span>
                    <span class="middle red" ng-if="form.invoiceReceivedDate.$error.required">日期格式有误！</span>
                </span>
            </div>
        </div>

        <!--车号-->
        <div class="form-group"  ng-class="{'has-error': form.invoiceCarNum.$invalid}">
            <label class="col-sm-3 control-label no-padding-right"> 车号 </label>

            <div class="col-sm-9">
                <div class="input-group col-xs-10 col-sm-5" ng-if="!fields.carNum.editable">
                    <p class="form-control-static" ng-bind="invoice.carNum"></p>
                </div>
                <div class="input-group col-xs-10 col-sm-5 pull-left" ng-if="fields.carNum.editable">
                    <input class="form-control" type="text" name="invoiceCarNum" ng-model="invoice.carNum" required carnum placeholder="示例：粤A12345">
                </div>

                <span class="help-inline col-xs-12 col-sm-7" ng-if="form.invoiceCarNum.$invalid">
                    <span class="middle red" ng-if="form.invoiceCarNum.$error.required">必填！</span>
                    <span class="middle red" ng-if="form.invoiceCarNum.$error.carNum">请输入正确的车号！</span>
                </span>
            </div>
        </div>

        <!--联系地址-->
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"> 联系地址 </label>

            <div class="col-sm-9">
                <div class="input-group col-xs-10 col-sm-5" ng-if="!fields.clientAddress.editable">
                    <p class="form-control-static" ng-bind="invoice.clientAddress"></p>
                </div>
                <div class="input-group col-xs-10 col-sm-5" ng-if="fields.clientAddress.editable">
                    <input class="form-control" type="text" ng-model="invoice.clientAddress">
                </div>
            </div>
        </div>

        <!--备注信息-->
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">备注信息</label>

            <div class="col-sm-9">
                <div class="input-group col-xs-10 col-sm-5" ng-if="!fields.remark.editable">
                    <p class="form-control-static" ng-bind="invoice.remark"></p>
                </div>
                <div class="input-group col-xs-10 col-sm-5" ng-if="fields.remark.editable">
                    <textarea class="autosize-transition form-control" rows="3" ng-model="invoice.remark"></textarea>
                </div>
            </div>
        </div>


        <!--invoice materials select-->
        <!--=======================================-->
        <h3 class="header smaller lighter blue">选择物料</h3>
        <div invoice-details details="invoice.invoiceDetails"  options="options"></div>
        <!--=======================================-->
        <!--/invoice materials select-->

        <div class="alert alert-success" ng-if="success">
            <strong>
                <i class="ace-icon fa fa-check"></i>
                <span ng-if="actions.submit && invoice.auditStatus==actions.submit.auditStatus">订单提交成功!</span>
                <span ng-if="actions.save && invoice.auditStatus==actions.save.auditStatus">订单提交成功!</span>
                <span ng-if="actions.update && invoice.auditStatus==actions.update.auditStatus">订单提交成功!</span>
                <span ng-if="actions.receive && invoice.auditStatus==actions.receive.auditStatus">订单接收成功!</span>
                <span ng-if="actions.adjust && invoice.auditStatus==actions.adjust.auditStatus">订单接收成功!</span>
                <span ng-if="actions.draft && invoice.auditStatus==actions.draft.auditStatus">订单保存成功!</span>
                <span ng-if="actions.sendBack && invoice.auditStatus==actions.sendBack.auditStatus">订单退回成功!</span>
            </strong>
            <br>
        </div>
        <div class="alert alert-danger" ng-if="error">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <strong>
                <i class="ace-icon fa fa-check"></i>
                订单提交出错，请联系管理员!
            </strong>
            <br>
        </div>

        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" class="hide">

                <button class="btn btn-info" type="submit" ng-click="submit()" ng-if="actions.submit" ng-disabled="form.$invalid">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    提交
                </button>

                <button class="btn btn-info" type="submit" ng-click="save()" ng-if="actions.save" ng-disabled="form.$invalid">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    提交
                </button>

                <button class="btn btn-info" type="submit" ng-click="update()" ng-if="actions.update" ng-disabled="form.$invalid">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    提交
                </button>

                <button class="btn btn-info" type="submit" ng-click="adjust()" ng-if="actions.adjust" ng-disabled="form.$invalid">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    提交
                </button>

                <button class="btn btn-info" type="submit" ng-click="receive()" ng-if="actions.receive" ng-disabled="form.$invalid">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    接收
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="button" ng-click="draft()" ng-if="actions.draft" ng-disabled="form.$invalid">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    保存
                </button>

                <button class="btn btn-danger" type="button" ng-click="sendBack()" ng-if="actions.sendBack" ng-disabled="form.$invalid">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    退回
                </button>

            </div>
        </div>
    </fieldset>
</form>