<!--Invoice Criteria BEGINS
===========================================-->
<form class="form-horizontal" name="form" novalidate ng-submit="submit()">
    <fieldset>
        <div class="col-sm-10 col-sm-offset-1">


            <div class="form-group">
                <!--公司-->
                <label class="col-sm-1 control-label no-padding-right"> 公司 </label>

                <div class="col-sm-5">
                    <div class="input-group col-xs-12">
                        <inc-select inc="invoice.inc"></inc-select>
                    </div>
                </div>

                <!--客户-->
                <label class="col-sm-1 control-label no-padding-right"> 客户 </label>

                <div class="col-sm-5">
                    <div class="input-group col-xs-12">
                        <!--<client-select client="invoice.client" client-id="searchTerm.clientId"></client-select>-->
                        <select class="form-control" title="选择客户" client-select client-id="searchTerm.clientId" ng-model="searchTerm.client" ng-options="client.clientName for client in [searchTerm.client] track by client.clientId"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <!--单据类型-->
                <label class="col-sm-1 control-label no-padding-right"> 单据类型</label>

                <div class="col-sm-5">
                    <div class="input-group col-xs-12">
                        <select class="form-control" ng-model="searchTerm.invoiceTypeId">
                            <option value="1">销售</option>
                            <option value="2">外购</option>
                            <option value="3">自用</option>
                        </select>
                    </div>
                </div>

                <!--单号-->
                <label class="col-sm-1 control-label no-padding-right"> 单号 </label>

                <div class="col-sm-5">
                    <div class="input-group col-xs-12">
                        <input class="form-control" type="text" ng-model="searchTerm.num">
                    </div>
                </div>
            </div>

            <!--单据日期-->
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right"> 单据日期 </label>

                <div class="col-sm-5">
                    <div class="input-group col-xs-5 pull-left">
                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd"
                               show-button-bar="false" is-open="startDateOpened" datepicker-options=" {showWeeks: false, startingDay: 1 }"
                               ng-required="true" ng-click="startDateOpened = true"
                               ng-model="searchTerm.startDateOfReceived"/>
                                <span class="input-group-addon">
                                <i class="fa fa-calendar bigger-110"></i>
                                </span>
                    </div>
                    <div class="input-group col-xs-2 pull-left center">
                        <span class="bigger-160">~</span>
                    </div>
                    <div class="input-group col-xs-5">
                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd"
                               show-button-bar="false" is-open="endDateOpened" datepicker-options=" {showWeeks: false, startingDay: 1 }"
                               ng-required="true" ng-click="endDateOpened = true"
                               ng-model="searchTerm.endDateOfReceived"/>
                                <span class="input-group-addon">
                                <i class="fa fa-calendar bigger-110"></i>
                                </span>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger" ng-if="error">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <strong>
                    <i class="ace-icon fa fa-check"></i>
                    查询出错，请联系管理员!
                </strong>
                <br>
            </div>

            <!--搜索-->
            <div class="form-group">
                <div class="col-sm-5 col-lg-offset-1">
                    <button class="btn btn-info" type="submit" ng-click="action = 'SUBMIT'">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        搜索
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="submit" ng-click="action = 'RESET'">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        重置
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<!--Invoice Criteria ENDS
===========================================-->

<!--Invoice Datatable BEGINS
===========================================-->
    <div class="table-header">
        订单列表
    </div>
        <div class="dataTables_wrapper form-inline">
            <div class="row">
                <div class="col-xs-6">
                    <div id="sample-table-2_length" class="dataTables_length"><label>每页
                        <select  ng-model="pageSize" ng-options="pageSize.name for pageSize in pageSizes" ng-change="onPageSizeChange()">
                        </select> 记录</label></div>
                </div>
                <div class="col-xs-6">
                    <div class="dataTables_filter"><label>过滤: <input type="text" ng-model="searchText"></label>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-bordered table-hover dataTable">
                <thead>
                <tr role="row">
                    <th>单据类型</th>
                    <th>单号</th>
                    <th>公司</th>
                    <th>客户</th>
                    <th>
                        <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                        单据日期
                    </th>
                    <th>车号</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="invoice in data.content | filter:searchText track by invoice.invoiceId " ng-dblclick="rowDblClick(invoice.invoiceId)"  ng-if="!loading">
                    <td>
                        <span class="label label-sm label-success arrowed arrowed-righ"
                              ng-if="invoice.invoiceType.type ==0" ng-bind="invoice.invoiceType.name"></span>
                        <span class="label label-sm label-info arrowed arrowed-in" ng-if="invoice.invoiceType.type ==1"
                              ng-bind="invoice.invoiceType.name"></span>
                    </td>
                    <td ng-bind="invoice.invoiceNum"></td>
                    <td ng-bind="invoice.inc.incName">/td>
                    <td ng-bind="invoice.client.clientName">/td>
                    <td ng-bind="invoice.receivedDate | date:'yyyy-MM-dd HH:mm:ss'">/td>
                    <td ng-bind="invoice.carNum">/td>
                    <td>
                        <div class="hidden-sm hidden-xs action-buttons">
                            <a class="green" title="修改" href="javascript:;"  ng-click="edit(invoice.invoiceId)" ng-if="edit">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                            </a>

                            <a class="red" href="javascript:;" title="退回" ng-click="sendBack(invoice.invoiceId)" ng-if="enableSendBack">
                                <i class="ace-icon fa fa-reply bigger-130"></i>
                            </a>

                            <a class="red" href="javascript:;" title="删除" ng-click="remove(invoice.invoiceId)" ng-if="enableRemove">
                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                            </a>

                            <a class="blue" href="javascript:;" title="查看" ng-click="view(invoice.invoiceId)" ng-if="view">
                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                            </a>
                        </div>

                        <div class="hidden-md hidden-lg">
                            <div class="inline position-relative">
                                <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown"
                                        data-position="auto">
                                    <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li ng-if="edit">
                                        <a  class="tooltip-success" title="修改"  href="javascript:;"  ng-click="edit(invoice.invoiceId)">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
                                        </a>
                                    </li>

                                    <li ng-if="sendBack">
                                        <a class="tooltip-error" title="退回" href="javascript:;" ng-click="sendBack(invoice.invoiceId)">
																			<span class="red">
																				<i class="ace-icon fa fa-reply bigger-120"></i>
																			</span>
                                        </a>
                                    </li>

                                    <li ng-if="remove">
                                        <a class="tooltip-error" title="删除" href="javascript:;" ng-click="remove(invoice.invoiceId)">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
                                        </a>
                                    </li>

                                    <li ng-if="remove">
                                        <a class="tooltip-error" title="查看" href="javascript:;" ng-click="view(invoice.invoiceId)">
																			<span class="blue">
																				<i class="ace-icon fa fa-search-plus bigger-120"></i>
																			</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="center" ng-if="loading">
                    <td colspan="7">
                        <i class="fa fa-spinner fa-spin bigger-210"></i>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-xs-6">
                    <div class="dataTables_info" id="sample-table-2_info">总共 <span
                            ng-bind="data.page.totalElements"></span> 条记录
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="dataTables_paginate paging_bootstrap">
                        <pagination ng-model="page.number" ng-change="onPageChanged()"
                                    total-items="data.page.totalElements" items-per-page="page.size"
                                    boundary-links="true"
                                    class="pagination pull-right" previous-text="&lsaquo;" next-text="&rsaquo;"
                                    first-text="&laquo;" last-text="&raquo;"></pagination>
                    </div>
                </div>
            </div>
        </div>

<!--Invoice Datatable ENDS
===========================================-->