<!--material Criteria BEGINS
===========================================-->
<form class="form-horizontal" name="form" novalidate>
    <fieldset>
        <div class="col-sm-10 col-sm-offset-1">


            <div class="form-group">
                <!--公司-->
                <label class="col-sm-1 control-label no-padding-right"> 查询 </label>

                <div class="col-sm-5">
                    <div class="input-group col-xs-12">
                        <input class="form-control" placeholder="输入物料编号或物料名称" ng-model="searchTerm.queryString">
                    </div>
                </div>

                <!--客户-->
                <label class="col-sm-1 control-label no-padding-right"> 类型 </label>

                <div class="col-sm-5">
                    <div class="input-group col-xs-12">
                        <select class="form-control" ng-model="searchTerm.type">
                            <option value="1">礼品</option>
                            <option value="2">样品</option>
                            <option value="3">送检验</option>
                            <option value="4">广告成品</option>
                            <option value="5">广告半成品</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger" ng-if="error">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <strong>
                    <i class="ace-icon fa fa-check"></i>
                    查询出错，请联系管理员!
                </strong>
                <br>
            </div>

            <!--搜索-->
            <div class="form-group">
                <div class="col-sm-5 col-lg-offset-1">
                    <button class="btn btn-info" type="button" ng-click="submit()">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        搜索
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="button" ng-click="rest()">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        重置
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<!--material Criteria ENDS
===========================================-->

<!--material Datatable BEGINS
===========================================-->
<form name="form" novalidate>
<div class="table-header">
    集团物料列表
</div>
<div class="dataTables_wrapper">
<div class="row">
    <div class="col-xs-6">
        <div id="sample-table-2_length" class="dataTables_length"><label>每页
            <select ng-model="pageSize" ng-options="pageSize.name for pageSize in pageSizes"
                    ng-change="onPageSizeChange()">
            </select> 记录</label></div>
    </div>
    <div class="col-xs-6">
        <div class="dataTables_filter">
            <label>过滤: <input type="text" ng-model="searchText"></label>
        </div>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTable">
        <thead>
        <tr>
            <th>编号</th>
            <!--<th>录入时间</th>-->
            <th>品名</th>
            <th>长度</th>
            <th>主单位</th>
            <th>辅单位</th>
            <th>换算率</th>
            <th>类型</th>
            <th>标准售价</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="material in data.content | filter:searchText | orderBy:'-materialId'   track by material.materialId" ng-dblclick="edit(material)"
            ng-if="!loading" >
            <td ng-if='undefined  == material.editable' ng-bind="material.materialNum"></td>
            <td ng-if='undefined  == material.editable' ng-bind="material.name"></td>
            <td ng-if='undefined  == material.editable' ng-bind="material.length"></td>
            <td ng-if='undefined  == material.editable' ng-bind="material.unit"></td>
            <td ng-if='undefined  == material.editable' ng-bind="material.auxiliaryUnitOne"></td>
            <td ng-if='undefined  == material.editable' ng-bind="material.conversionRateOne"></td>
            <td ng-if='undefined  == material.editable' ng-bind="material.materialType.name"></td>

            <td ng-if="undefined  == material.editable && !material.priceEditable"  width="100">
                <a href="javascript:;" ng-bind="material.price | number:2"  ng-click="onPriceEditable(material,$event)"></a>
            </td>
            <td  ng-if="undefined  == material.editable && material.priceEditable" width="100">
                <input class="input-mini" ng-model="material.price" ng-blur="onMaterialPriceBlur(material)" ng-keypress="onMaterialPriceKeypress(material,$event)">
            </td>

            <td ng-if='undefined  == material.editable' class="center">
                <div class="hidden-sm hidden-xs action-buttons" ng-if="undefined != material.isRemoveAble">
                    <a class="green" title="修改" href="javascript:;" ng-click="edit(material)">
                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                    </a>

                    <a class="red" href="javascript:;" title="删除" ng-click="remove(material.materialNum)" ng-if="material.isRemoveAble">
                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                    </a>

                </div>

                <div class="hidden-md hidden-lg">
                    <div class="inline position-relative">
                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown"
                                data-position="auto">
                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a class="tooltip-success" title="修改" href="javascript:;" ng-click="edit(material)">
                                            <span class="green">
                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                            </span>
                                </a>
                            </li>

                            <li>
                                <a class="tooltip-error" title="删除" href="javascript:;"
                                   ng-click="remove(material.materialNum)" ng-if=" material.isRemoveAble">
                                            <span class="red">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </td>

            <td class="editable-row" colspan="10">
                <div ng-form="detailForm">
                    <div class="form-horizontal animate-if"  ng-if="material.editable">
                        <hr>
                        <div class="col-sm-5 col-sm-offset-1">
                            <div class="form-group">
                                <!--编号-->
                                <label class="col-sm-2 control-label no-padding-right"> 编号 </label>

                                <div class="col-sm-10">
                                    <div class="input-group col-xs-12 col-sm-9 pull-left">
                                        <input type="text" class="col-xs-12" name="materialNum" required
                                               ng-model="material.materialNum" ng-change="onMaterialNumChange(detailForm,material.materialNum)" ng-trim="true" ng-if="true === material.isNew">

                                        <span ng-bind="material.materialNum" ng-if="undefined !==material.materialNum && undefined == material.isNew"></span>
                                    </div>

                                    <span class="help-inline col-xs-12 col-sm-3" ng-if="detailForm.materialNum.$invalid">
                                        <span class="middle red" ng-if="detailForm.materialNum.$error.required">必填！</span>
                                        <span class="middle red" ng-if="detailForm.materialNum.$error.duplicateMaterialNum">物料编码已经存在！</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">

                                <!--品名-->
                                <label class="col-sm-2 control-label no-padding-right"> 品名</label>

                                <div class="col-sm-10">
                                    <div class="input-group col-xs-12 col-sm-9 pull-left">
                                        <input type="text" class="col-xs-12" name="materialName" required ng-model="material.name" ng-trim="true"  ng-change="onMaterialNameChange(detailForm,material.name)">
                                    </div>

                                    <span class="help-inline col-xs-12 col-sm-3" ng-if="detailForm.materialName.$invalid">
                                        <span class="middle red" ng-if="detailForm.materialName.$error.required">必填！</span>
                                        <span class="middle red" ng-if="detailForm.materialName.$error.duplicateMaterialName">品名已经存在！</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">


                                <!--类别-->
                                <label class="col-sm-2 control-label no-padding-right"> 类别</label>

                                <div class="col-sm-10">
                                    <div class="input-group col-xs-12 col-sm-9 pull-left">
                                        <select class="form-control" name="materialType" ng-model="material.materialType.materialTypeId">
                                            <option value="1">礼品</option>
                                            <option value="2">样品</option>
                                            <option value="3">送检验</option>
                                            <option value="4">广告成品</option>
                                            <option value="5">广告半成品</option>
                                        </select>
                                    </div>

                                    <span class="help-inline col-xs-12 col-sm-3" ng-if="detailForm.materialType.$invalid">
                                        <span class="middle red" ng-if="detailForm.materialType.$error.required">必填！</span>
                                    </span>
                                </div>


                            </div>
                            <div class="form-group">

                                <!--长度-->
                                <label class="col-sm-2 control-label no-padding-right"> 长度</label>

                                <div class="col-sm-10">
                                    <div class="input-group col-xs-12 col-sm-9 pull-left">
                                        <input type="number" class="col-xs-12" name="materialLength" min="0" ng-model="material.length" >
                                    </div>

                                    <span class="help-inline col-xs-12 col-sm-3" ng-if="detailForm.materialLength.$invalid">
                                        <span class="middle red" ng-if="detailForm.materialLength.$error.number">请输入数字！</span>
                                        <span class="middle red" ng-if="detailForm.materialLength.$error.min">请输入正数！</span>
                                    </span>
                                </div>

                            </div>

                            <div class="form-group">

                                <!--产品类型1-->
                                <label class="col-sm-2 control-label no-padding-right"> 产品类型1</label>

                                <div class="col-sm-10">
                                    <div class="input-group col-xs-12 col-sm-9 pull-left">
                                        <input class="form-control" name="materialProductTypeOne" ng-model="material.productTypeOne">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="form-group">

                                <!--主单位-->
                                <label class="col-sm-2 control-label no-padding-right"> 主单位</label>

                                <div class="col-sm-10">
                                    <div class="input-group col-xs-12 col-sm-9 pull-left">
                                        <input class="form-control" name="materialUnit" ng-model="material.unit">
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">


                                <!--辅单位-->
                                <label class="col-sm-2 control-label no-padding-right"> 辅单位</label>

                                <div class="col-sm-10">
                                    <div class="input-group col-xs-12 col-sm-9 pull-left">
                                        <input class="form-control" name="materialAuxiliaryUnitOne" ng-model="material.auxiliaryUnitOne">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <!--换算率-->
                                <label class="col-sm-2 control-label no-padding-right"> 换算率</label>

                                <div class="col-sm-10">
                                    <div class="input-group col-xs-12 col-sm-9 pull-left">
                                        <input type="number" class="form-control" name="materialConversionRateOne" ng-model="material.conversionRateOne" min="0">
                                    </div>

                                    <span class="help-inline col-xs-12 col-sm-3" ng-if="detailForm.materialConversionRateOne.$invalid">
                                        <span class="middle red" ng-if="detailForm.materialConversionRateOne.$error.number">请输入数字！</span>
                                        <span class="middle red" ng-if="detailForm.materialConversionRateOne.$error.min">请输入正数！</span>
                                    </span>
                                </div>

                            </div>

                            <div class="form-group">

                                <!--标准定价-->
                                <label class="col-sm-2 control-label no-padding-right"> 标准定价</label>

                                <div class="col-sm-10">
                                    <div class="input-group col-xs-12 col-sm-9 pull-left">
                                        <input type="number" class="form-control" name="materialPrice" min="0" ng-model="material.price">
                                    </div>

                                    <span class="help-inline col-xs-12 col-sm-3" ng-if="'' == material.price">
                                         <span class="middle red">没有输入价格！</span>
                                    </span>
                                    <span class="help-inline col-xs-12 col-sm-3" ng-if="detailForm.materialPrice.$invalid">
                                        <span class="middle red" ng-if="detailForm.materialPrice.$error.number">请输入数字！</span>
                                        <span class="middle red" ng-if="detailForm.materialPrice.$error.min">请输入正数！</span>
                                    </span>
                                </div>

                            </div>

                            <div class="form-group">

                                <!--产品类型2-->
                                <label class="col-sm-2 control-label no-padding-right"> 产品类型2</label>

                                <div class="col-sm-10">
                                    <div class="input-group col-xs-12 col-sm-9 pull-left">
                                        <input class="form-control" name="materialProductTypeTwo" ng-model="material.productTypeTwo">
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="clearfix form-actions padding-4 col-sm-12">
                            <div class="col-md-offset-3 col-md-9">

                                <button class="btn btn-info btn-sm" type="button" ng-click="save(material)" ng-disabled="detailForm.$invalid">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    保存
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn btn-sm" type="button" ng-click="cancel(material)">
                                    <i class="ace-icon fa fa-times bigger-110"></i>
                                    取消
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </td>

        </tr>
        <tr class="center" ng-if="loading">
            <td colspan="10">
                <i class="fa fa-spinner fa-spin bigger-210"></i>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div class="row">
    <div class="col-xs-6">
        <div class="dataTables_info" id="sample-table-2_info">总共 <span
                ng-bind="data.page.totalElements"></span> 条记录
            <span>|</span>
            <!--<a class="green" title="修改" href="javascript:;" ng-click="material.editable = true">-->
            <!--<span class="ui-icon ace-icon fa fa-plus-circle purple"></span>-->
            <!--</a>-->
            <button class="btn btn-xs btn-success" type="button" ng-click="add()">
                <i class="ace-icon fa fa-plus-circle bigger-110"></i>
                添加
            </button>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="dataTables_paginate paging_bootstrap">
            <pagination ng-model="page.number" ng-change="onPageChanged()"
                        total-items="data.page.totalElements" items-per-page="page.size" max-size="6"
                        boundary-links="true"
                        class="pagination pull-right" previous-text="&lsaquo;" next-text="&rsaquo;"
                        first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
    </div>
</div>
</div>
</form>
<!--material Datatable ENDS
===========================================-->