body {
  overflow-y: scroll !important;
}
.animate-if {
  height: 100px;
  transition: all ease 0.5s;
  overflow: hidden;
}
.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  height: 1px;
}
.animate-show {
  max-height: 999px;
  transition: all ease 0.5s;
  overflow: hidden;
}
.animate-show.ng-hide-add.ng-hide-add-active {
  max-height: 0;
}
.animate-show.ng-hide-remove.ng-hide-remove-active {
  max-height: 999px;
}
.animate-show.ng-hide {
  max-height: 0;
}
.dataTables_wrapper input[type=text],
.dataTables_wrapper input[type=number],
.dataTables_wrapper select,
.dataTables_wrapper textarea,
.dataTables_wrapper .form-control-static {
  margin-bottom: 0 !important;
  margin: 0 4px;
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-toggle {
    display: block;
  }
}
